@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap");

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Estilos Breadcrum*/

ul.breadcrumb {
	margin: 0;
	list-style: none;
	background-color: #FFFFFF;
	border-bottom-style: 1px solid gray;
}

ul.breadcrumb li {
	display: inline;
	font-size: 15px;
}

ul.breadcrumb li+li:before {
	padding: 5px;
	color: #000000;
	content: "-\00a0";
}

ul.breadcrumb li a {
	color: #594C3B;
	text-decoration: none;
}

ul.breadcrumb li a:hover {
	color: #D9D2C5;
	text-decoration: none;
}

/*Estilos Notificacion área*/

.notification{
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
}

ul.notification {
	margin: 0;
	list-style: none;
	background-color: #FFFFFF;
	text-align: right;
}

ul.notification li {
	display: inline;
	font-size: 18px;
}

ul.notification li+li:before {
	padding: 8px;
	color: #000000;
	content: "-\00a0";
}

.borde{
	border-bottom: 0.5px solid #594C3B;
}

li img{
	width: 22px;
	height: 22px;
}

/*Contenedores*/
.content{
	text-align: center;
	margin : 0 !important;
	padding: 0 !important;
}

.row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

footer .footer{
	margin-left: 0 !important;
	margin-right: 0 !important;
}

footer .col{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.footer{
	width: 100%;
	height: 100%;
	margin: 0px;
	margin-top: 45px;
}

/*Medidas imagen alineada a la derecha*/
.footer img{
	width: 150px;
	height: 205px;
	float: right;
}

/*Estilos del calendario*/
.calendar {
	position: relative;
	width: 300px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 5px 50px rgba(#000, 0.5);
	border-radius: 8px;
	overflow: hidden;
	margin: auto;
}

.calendar_picture {
	position: relative;
	height: 200px;
	padding: 20px;
	color: #fff;
	background: #262626 url("../../img/Celebrity/celebritybackground.jpg") no-repeat center / cover;
	text-shadow: 0 2px 2px rgba(#000, 0.2);
	box-sizing: border-box;
}

.calendar_picture::before {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
	}

.calendar_picture h2 {
	text-align: left;
	margin: 0;
	color: #FFFFFF;
}

.calendar_picture h3 {
	text-align: left;
	margin: 0;
	font-weight: 500;
	color: #FFFFFF;
}

.calendar_date {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
	grid-gap: 10px;
	box-sizing: border-box;
}

.calendar_day {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	font-weight: 600;
	color: #262626;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(7){
	color: #ff685d;
}

.calendar_number {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	color: #262626;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(14){
	color: #ff685d;
	font-weight: 700;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(21){
	color: #ff685d;
	font-weight: 700;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(28){
	color: #ff685d;
	font-weight: 700;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(35){
	color: #ff685d;
	font-weight: 700;
}

body > div > div:nth-child(4) > div > div > div.calendar_date > div:nth-child(42){
	color: #ff685d;
	font-weight: 700;
}

.calendar_number:hover {
	background-color: #594C3B;
	color: #fff !important;
	font-weight: 700;
	cursor: pointer;
}

.calendar_number-current {
	background-color: #D5B387;
	color: #fff !important;
	font-weight: 700;
	cursor: pointer;
}

input{
	text-align:center;
	border: 1px solid #594C3B;
	font-family: 'Nirmala UI', 'Malgun Gothic', sans-serif;
	font-size: 13pt;
	border-radius: 5px;
}

/*Espaciado divs del formulario*/
.inputform{
	padding-top: 19px;
}

/*Ancho de inputs*/
.inputform input{
	width: 20%;
}

.form-control-sm{
	margin: 5px;
	border-radius: 5px !important;
	border-color: #594C3B !important;
	text-align:center;
	font-family: 'Nirmala UI', 'Malgun Gothic', sans-serif !important;
}

.form-control-sm:focus, .form-control:focus {
  	border-color: #594C3B;
  	box-shadow: 0 0 0 0.2rem rgba(89, 76, 59, 0.50) !important;
}

select:focus{
	border-color: #594C3B;
  	box-shadow: 0 0 0 0.2rem rgba(89, 76, 59, 0.50) !important;
}

/*Links-Botones temporal*/
.btn{
	margin: 10px;
	font-family: 'Nirmala UI', 'Malgun Gothic', sans-serif;
	font-size: 12pt !important;
	background: #D5B387 !important;
	border-color: #594C3B !important;
	color: #594C3B !important;
	border-radius: 10px !important;
}

.btn:hover {
	margin: 10px;
	color: #D9D2C5 !important;
	font-size: 12pt;
	text-decoration: none;
	background-color: #736A5F !important;
}

/*Títulos*/
h1{
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #594C3B;
	margin: 10px !important;
}

h2, h3{
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #594C3B;
	margin: 0 !important;
}

/*Parrafos*/
p{
	text-align: center;
	font-family: 'Nirmala UI', 'Malgun Gothic', sans-serif;
	margin: 0 !important;
}

/*Parrafo de Footer*/
p.text_right{
	text-align: right;
	color: #594C3B;
	font-family: 'Nirmala UI', 'Malgun Gothic', sans-serif;
	clear: right;
	margin-bottom: 0px;
}

@media screen and (max-width:1000px){

	/*Contenedores*/
	.header{
		width: 100%;
		height: 100px;
		margin: 0px;
		background: #D9D2C5;
	}

	.footer{
		padding-top: 0;
	}

	body > div > header > div.borde.col.col-lg-9{
		padding-right: 2px;
		padding-left: 0;
		color: #594C3B;
	}

	body > div > header > div.borde.col.col-lg-3{
		padding-right: 2px;
		padding-left: 0;
		color: #594C3B;
	}

	/*Estilos Breadcrum*/

	ul.breadcrumb {
		margin: 0;
		padding-top: 8px;
		padding-right: 2px;
		padding-left: 2px;
		list-style: none;
		border-bottom-style: 1px solid #594C3B;
	}

	ul.breadcrumb li {
		display: inline;
		font-size: 12px;
	}

	ul.breadcrumb li+li:before {
		padding: 1px;
		color: #000000;
		content: "-\00a0";
	}

	ul.breadcrumb li a {
		color: #594C3B;
		text-decoration: none;
	}

	ul.breadcrumb li a:hover {
		color: #D9D2C5;
		text-decoration: none;
	}

	/*Estilos Notificacion área*/

	.notification{
		padding-top: 8px;
		padding-right: 2px;
		padding-bottom: 8px;
	}

	ul.notification {
		margin: 0;
		list-style: none;
		text-align: right;
	}

	ul.notification li {
		display: inline;
		font-size: 12px;
	}

	ul.notification li+li:before {
		padding: 2px;
		color: #000000;
		content: "-\00a0";
	}

	.notification img{
		width: 14px;
		height: 14px;
	}


	/*Formulario*/
	form{
		width: 100%;
		margin: auto;
		padding: 20px; 
	}

	input{
		width: 80% !important;
	}
}